/*#redes i{
  height: 20px !important;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  margin: 2px;
}*/


#nav{
background-color: orange;
position: relative;
font-size: 25px;
margin:20px;
margin-left: 0px;
margin-right: 0px;

}

#beatles{
width: 80%;
height: 60%;
border-radius: 20px;
margin: 2.5%;
}
#planeta{

}

#buscador{
  margin: 15px;
}

a {
 margin: 5%;
 color: black !important;

}
#textarea{
  margin: 25px;
}

i{
margin: 2% !important;
color: black !important;
margin-bottom: 50%;
}
#body{
  background-color:#7E0C39;
}

#contenedor{
  margin: 10px;
  border-radius: 10px  ;
  box-shadow: 0 0 8px #D0D0D0;
  max-width: 90%;
  margin: auto;
  background-color: white;
  border: 20px;



}
#header{
background-color: white;
border-radius: 15px;

}
p{
text-align: justify;
margin: 2%;
margin-left: 15px !important;

}

h2{
  text-align: left;

}
@media all and (max-width:900) and(min-width:350px) {
  #nav {

  	display: flex;
  	justify-content: space-around;
  	align-items: center;
  }
}
