body {
	background-image: url("http://localhost/Framework_CSS/assets/images/montana.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: white;
}

#logo {
	width: 350px;
	height: 150px !important;
	border-radius: 25px;
	margin: 10%;
}

#boton {

	background-color: #0376F9;
	color: white;
	margin-top: 150px !important;
}

h4 {
	margin-left: 25px;
}

#letra {
	color: white;
}

#icon {
	font-size: 60px;
	margin: 4%;
	margin-left: 0px;
	color: white;
}

#image1 {
	height: 250px;
	width: 100%;
}

#image2 {
	width: 100%;
}

#image3 {
	width: 100%;
	height: 550px;
}

#image4 {
	width: 80%;
	height: 150px;
}

#image5 {
	width: 20%;
	height: 150px;
	float: left;
	margin: 0.5% !important;
}

#secundario {
	background-color: white;
	color: black;
	font-size: 15px;
	text-align: justify;
}

#peop {
	font-size: 50px;
}

#tercero {
	background-color: white;
	margin-left: 10px;
  margin-top: 0.5px;
}

#avatar {
	border-radius: solid black 25px;
	width: 50%;
	height: 100px;
	display: block;
	margin: auto;
  margin-top: 15px;
}
h6{
  text-align: center;
}
p{
  text-align: justify;
}
#titulo{
  font-size: 100%;
}
