body {
  background-image: url("http://localhost/Framework_CSS/assets/images/montana.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: white;


}
#logo{
width: 350px;
height: 150px !important;
border-radius: 25px;
margin: 10%;


}

#boton{
  border-radius: 20px;
  background-color: blue;
  color: white;
  margin-top: 5%;

}
h4{
  margin-left: 25px;
}

#letra{
color: white;

}
#icon{
font-size: 60px;
margin: 4%;
margin-left: 0px;
color: white;

}
#image1{
  height: 250px;
  width: 100%;
}
#image2{
  width: 100%;
}
#image3{
  width: 100%;
  height: 550px;
}
#image4{
  width: 80%;
  height: 150px;
}
